.DS_Store
.idea/
.vscode/
.atom/
.buildlog/
migrate_working_dir/
*.iml
*.log
*.tmp
*.swp
*.swo
Thumbs.db
.vscode/
*.AppleDouble
*.LSOverride
ehthumbs.db
Icon?

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
frontend/build/

backend/node_modules/
backend/.env
backend/dist/
backend/build/
backend/npm-debug.log*